<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/edit-form-style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="edit-blog-page">
    <%- include("partials/header.ejs") %>
    
    <div class="edit-form-section">
         <form class="editing-form" action="/edit-blog-data/<%= blog.id %>" method="POST">
        <input type="text" name="title" placeholder="Enter title" value="<%= blog.title %>" />
        <textarea name="content" placeholder="Enter content"><%= blog.content %></textarea>
        <button type="submit">Save Blog</button>
    </form>

    <form class="delete-btn editing-form" action="/delete-blog/<%= blog.id %>" method="POST">
    <button type="submit">Delete Blog</button>
    </form>
    </div>    

   

    <%- include("partials/footer.ejs") %>
    </div>
    
</body>
</html>